<p id="notice"><%= notice %></p>

<p>
  <strong>Season number:</strong>
  <%= @season.season_number %>
</p>

<p>
  <strong>Premiere date:</strong>
  <%= @season.premiere_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @season.end_date %>
</p>

<p>
  <strong>Summary:</strong>
  <%= raw @season.summary %>
</p>
<strong>Episodes of this season:</strong>
<table>
  <thead>
  <tr>
    <th>Episode number</th>
    <th>Episode Name</th>
  </tr>
  </thead>

  <tbody>
  <% @season.episodes.each do |episode| %>
    <tr>
      <td><%= episode.episode_number %></td>
      <td><%= episode.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
