<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :character_name %>
  </div>

  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house, id: :character_house %>
  </div>

  <div class="field">
    <%= form.label :character_book_id %>
    <%= form.number_field :character_book_id, id: :character_character_book_id %>
  </div>

  <div class="field">
    <%= form.label :character_location_id %>
    <%= form.number_field :character_location_id, id: :character_character_location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
