<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>House:</strong>
  <%= @character.house %>
</p>

<strong>Books where this character is present:</strong>
<table>
  <tbody>
  <% @character.books.each do |book| %>
    <tr>
      <td><%= book.book_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
